<h4>Some Common Full Form</h4>

<table class="table table-bordered table-hover">
    <thead>
        <th>Sr.No</th>
        <th>Short Form</th>
        <th>Full Form</th>
        <th>Use</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>JS</td>
            <td>JavaScript</td>
            <td>Programming language for web development</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ECMA</td>
            <td>European Computer Manufacturers Association</td>
            <td>The organization that standardizes JavaScript (ECMAScript)</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ES</td>
            <td>ECMAScript</td>
            <td>The official standard/specification name of JavaScript</td>
        </tr>
        <tr>
            <td>4</td>
            <td>DOM</td>
            <td>Document Object Model</td>
            <td>Structure representing HTML elements as objects</td>
        </tr>
        <tr>
            <td>5</td>
            <td>BOM</td>
            <td>Browser Object Model</td>
            <td>Represents browser-related objects like window, navigator, etc.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>JSON</td>
            <td>JavaScript Object Notation</td>
            <td>Lightweight format to store and exchange data</td>
        </tr>
        <tr>
            <td>7</td>
            <td>AJAX</td>
            <td>Asynchronous JavaScript and XML</td>
            <td>Technique for making async web requests (now usually with JSON)</td>
        </tr>
        <tr>
            <td>8</td>
            <td>HTTP</td>
            <td>HyperText Transfer Protocol</td>
            <td>Protocol for communication between browser and server</td>
        </tr>
        <tr>
            <td>9</td>
            <td>URL</td>
            <td>Uniform Resource Locator</td>
            <td>Address of a resource on the internet</td>
        </tr>
        <tr>
            <td>10</td>
            <td>CRUD</td>
            <td>Create, Read, Update, Delete</td>
            <td>Basic database operations</td>
        </tr>
        <tr>
            <td>11</td>
            <td>IIFE</td>
            <td>Immediately Invoked Function Expression</td>
            <td>Function that runs immediately after being defined</td>
        </tr>
        <tr>
            <td>12</td>
            <td>OOP</td>
            <td>Object-Oriented Programming</td>
            <td>Programming style using objects and classes</td>
        </tr>
    </tbody>
</table>